<%- include('header') -%>

	<div class="content">
		<h1>何杰铭</h1>
	</div>

	<div class="content">
		<h3>联系方式</h3>
		<div>-邮箱：green711@126.com</div>
	</div>

	<div class="content">
		<h3>教育背景</h3>
		<div>
			<div>-2013.9-2017-7：吉林大学珠海学院（计算机科学与技术）</div>
		</div>
		<div>
			<div>-2010.9-2013.7：广州市培英中学</div>
		</div>
	</div>

	<div class="content">
		<h3>职业技能</h3>
		<p>-语言：javascript,C/C++</p>
		<p>-工具：Sublime Text3,NPM,VS,Mongo</p>
		<p>-框架：express</p>
		<p>-服务端平台：node.js</p>
	</div>

	<div class="content">
		<h3>项目经历</h3>
		<p>MineCraft</p>
		<p>2016.09-2016.11</p>
		<p>于深圳点猫科技公司实习，期间，于团队中完成了仿MineCraft的电脑游戏，我主要负责的是人物动作的设计和场景的设计，还有相关的算法设计。之后，还模仿了手机游戏《蓝图》进行了相关Demo的开发。</p>
		<br/>
		<p>个人网站</p>
		<p>2017.1-2017.5</p>
		<p>前端采用的是bootstrap框架，后端主要用到的技术栈是node.js+express+ejs，数据采用mongodb进行保存，个人主页已经完成，并成功绑定好IP与域名。</p>
		<br/>
		<p>云控</p>
		<p>2017.5-2017.6</p>
		<p>一个云控的平台，网页控制台控制旗下的手机来对手机进行相关的操作，运用parse-server这个服务器模块来解析手机上面的环境，运用webpack来对项目进行打包。我主要负责项目的上线和对项目环境的配置，辅助团队对项目进行二次开发。</p>
		<br/>
		<p>个人网站重构</p>
		<p>2017.8-至今</p>
		<p>由于之前用的是bootstrap的框架，之前对前端的知识点不是特别了解，在bootstrap这个框架上面进行二次开发显得相对困难，于是乎去掉bootstrap框架，自己把样式写下来，重构这个页面。</p>
	</div>


<%- include('footer') -%>

<!-- 👉 戳 -->