<%- include('header') -%>
<body>
    <div class = "content">
        <h1>i am header h1</h1>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.</p>
        <div class = "label-wrap">
            <span class="label">post at 2017.9.14</span><span class="label label-default">default</span><span class="label label-primary">primary</span><span class="label label-success">success</span><span class="label label-info">info</span><span class="label label-warning">warning</span><span class="label label-danger">danger</span>
        </div>
    </div>
    
    <!-- <div class='line'></div> -->

    <div class = "content">
        <h1>i am header h1</h1>
        <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle.</p>
        <div class = "label-wrap">
            <span class="label">post at 2017.9.14</span><span class="label label-default">default</span><span class="label label-primary">primary</span><span class="label label-success">success</span><span class="label label-info">info</span><span class="label label-warning">warning</span><span class="label label-danger">danger</span>
        </div>
    </div>
</body>

<%- include('footer') -%>
