<!DOCTYPE html>
<html>
  <head>
  	<!-- 编码 -->
  	<meta charset="utf-8">
  	<!-- ie的兼容 -->
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<!-- 设置手机的缩放 -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<!-- 标题 -->
    <title><%= title %></title>
    <!--加载css -->
    <!-- <link rel='stylesheet' href='./bootstrap/css/cover.css'> -->
    <!-- 加载jquery -->
    <script src="./js/jquery.min.js"></script>
    <!-- 加载bootstrap -->
    <script src="./js/bootstrap.min.js"></script>

     <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/cover.css" rel="stylesheet">
  </head>

<!-- <div class="site-wrapper"> -->
  <!-- <div class="site-wrapper-inner"> -->
    <!-- <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Doge</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/blog">Blog</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="contact">Contact</a></li>
                </ul>
              </nav>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
<!-- </div> -->