<link rel="stylesheet" href="./css/header.css">
<div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Doge</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/blog">Blog</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="contact">Contact</a></li>
                </ul>
              </nav>
          </div>
        </div>
      </div>