<%- include('header') -%>

<div class='home-content'>
	<form action='/login/admin' method='post' id='verifyPwd'>
		<div><h2>你我的密码(10位):</h2></div>
		<input id='password' name='password' size='20' value>
		<input type='submit' value='确定' id='password-submit'>
	</form>
</div>

<script>
	var isPwd = false;
		$('input[name=password]').blur(function(){
			var pwd = this.value.trim();
			$.post('/login/checkPwd',{pwd:pwd},function(data,status){
				console.log(data);
				console.log(status);
				if(status == 'password correct'){
					isPwd = true;
					alert('密码正确');
				}
				else{
					alert('密码错误');
				}
			})
		})
		$('#password-submit').submit(function(){
			if(isPwd){
				return true;
			}
			else{
				return false;
			}
		})
</script>

<%- include('footer') -%>