<%- include('header') -%>

<div class="container">
	<h1>我要留言</h1>
	<div class="line"></div>
	<div>
		<p>您的留言<</p>
		<p><textarea id='comment-text' name='text' rows='10' cols='50'></textarea></p>
	</div>
	<div>
		<p>您的大名：</p>
		<input id="comment-author" name='author' size='30' value></input><span class = 'hint'>«-必填</span>
	</div>
	<div>
		<p>联系方式：</p>
		<input id="comment-contact" name='contact' size='30' value></input><span class = 'hint'>«-必填，不公开（邮箱，QQ，电话均可）</span>
	</div>
	<div>
		<p><label for='comment-bake-cookie'>记住个人信息？</label><input type="checkbox" id="comment-bake-cookie"></p>
	</div>
	
	<input type="submit" value="发表" id="comment-submit"><span class="hint">«-点击按钮</span>
</div>

<script>
	$('#comment-submit').click(function(){
		$.ajax({
		type: 'post',
		url: '/saysomething/getData',
		dataType: 'json',
		data: {
			name: $('input #comment-author').val(),
			message: $('input #comment-text').val(),
			contact: $('input #comment-contact').val()
		},
		success:function(data){
			if(data.status == 'success'){
				alert('发表成功！');
			}
			else{
				alert('发表失败！');
			}
		}
	})	
})
</script>


<%- include('footer') -%>