<%- include('header') -%>

<div class="container">
	<h1>留言</h1>
	<div class="line"></div>
	<div>
		<p>您的留言<</p>
		<p><textarea id='comment-text' name='text' rows='10' cols='50'></textarea></p>
	</div>
	<div>
		<p>您的大名</p>
		<input id="comment-author" name='author' size='30' value></input>
	</div>
	<div>
		<p>联系方式</p>
		<input id="comment-contact" name='contact' size='30' value></input>
		<p>必填，不公开（邮箱，QQ，电话均可）</p>
	</div>


</div




<%- include('footer') -%>