<<<<<<< HEAD
<!-- header -->
=======
>>>>>>> 4a12ac2210d8b56baffac128a37046067afba3b5
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./css/test.css">
	<script type="text/javascript" src="./js/jquery.min.js"></script>
</head>
<body>
	<div class='head'>
	<span>Doge</span>
		<ul>
<<<<<<< HEAD
			<li><a class='active' href="/">Home</a></li>
			<li><a href="/Blog">Blog</a></li>
			<li><a href="/About">About</a></li>
			<li><a href="/SaySomething">SaySomething</a></li>
		</ul>
	</div>

=======
>>>>>>> 4a12ac2210d8b56baffac128a37046067afba3b5
	<div class='content'>
		<h1>Doge Blog</h1>
		<p class='abstract'>To live is to change the world</p>
		<div class='img'>
			<a href="http://www.github.com/abbbbXd">
				<img id='git' class='large' src="/images/fluidicon.png">
			</a>
		</div>
	</div>
<<<<<<< HEAD

<!-- footer -->
	<script>
	var pathName = window.location.pathname;
	$('.head ul>li>a').each(function(){
		if($(this).attr('href')===pathName)
		{
			{
				$('.head ul>li>a.active').removeClass('active');
				$(this).addClass('active');
			}
		}
	})
	$('.head ul>li>a:not(.active)').hover(      // !!!!!!!!!!!!!!!!!!!!!!
=======
>>>>>>> 4a12ac2210d8b56baffac128a37046067afba3b5
		function(){
			$(this).css({'border-bottom':'solid 2px #666'});
		},
		function(){
			$(this).css({'border-style':'none'});
		}
	)
<<<<<<< HEAD
=======
>>>>>>> 4a12ac2210d8b56baffac128a37046067afba3b5
	</script>
</body>
</html>
